<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>

<!--/*@thymesVar id="book" type="ak.spring.boot.models.Book"*/-->
<!--/*@thymesVar id="person" type="ak.spring.boot.models.Person"*/-->
<!--/*@thymesVar id="people" type="ak.spring.boot.controllers.AdminController"*/-->
<!--/*@thymesVar id="books" type="ak.spring.boot.controllers.AdminController"*/-->

<body class="text-center">
<br><br><br><br><br><br><br><br>

<div class="mx-auto form-group">
    <table class="mx-auto w-75 p-3 table table-striped">
        <thead>
        <tr>
            <th scope="col">Person_Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Book_Id</th>
            <th scope="col">Title</th>
            <th scope="col">Purchase</th>
        </tr>
        </thead>
        <tbody th:each="person : ${people}">
        <tr th:each="book : ${person.getBooks()}">
            <th scope="row" th:text="${person.getId()}">1</th>
            <td><a th:text="${person.getFullName()}">Перейти</a></td>
            <td th:text="${person.getEmail()}">Otto</td>
            <td th:text="${book.getId()}">@mdo</td>
            <td th:text="${book.getTitle()}">@mdo</td>
            <td>
                <form class="mt-1" th:method="DELETE" th:action="@{/admin(person=${person.getId()},book_id=${book.getId()})}">
                    <input class="btn btn-danger" type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>